{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>Vinicius</title>
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{%  static 'bootstrap/bootstrap/css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/colors.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/navbar.css'  %}">
</head>

<body>
    {% block menu %}
    <nav class="navbar background-color-nav">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">New Vini</a>

            <div class="container-flex-end" onclick="alterarHamburgerMenu(this)" class="navbar-toggler"
                type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div class="offcanvas offcanvas-start gradiente" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'sobre'  %}">Sobre</a>
                        </li>

                        {% if request.user.is_authenticated %}

                        <form action="{% url 'logout'  %}" method="post" id="logout_sair">
                            {% csrf_token %}
                        <li class="nav-item">
                            <a class="nav-link text-light" onclick="sairLogin()">Sair</a>
                        </li>
                        </form>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                        
                            <ul class="dropdown-menu dropdown-menu-background">
                                <li><a class="dropdown-item text-light" href="{% url 'cidade-list'  %}">Cidade</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'pessoa-list'  %}">Usuario</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'sensor-list'  %}">Sensores</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'reles-list' %}">Reles</a></li>
                               
                               
                            </ul>
                            
                        </li>
                        {% else %}

                    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'login'  %}">Login</a>
                        </li>
                        {% endif %}
                      
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
    
    <div class="container">

    

    <div class="card text-center container p-5">
        {% block conteudo %}
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          2 days ago
        </div>
        {% endblock %}
      </div>
    </div>
      
</body>

<script src="{%  static 'bootstrap/bootstrap/js/bootstrap.min.js'  %}"></script>
<script src="{%  static 'js/index.js'  %}"></script>

</html>