{% extends "cadastros/modelo.html" %}

{% block conteudo %}
<h3>
    Lista de <b>{{ model }}</b>
</h3>

<hr>
<div>
    <a href="{% url create_url %}" class="btn btn-light">
        Adicionar {{ model }}
    </a>
</div>

<table class="table table-striped">
    <thead class="text-light">
        <tr>
            <th>Descrição</th>
            <th>Data de Instalação</th>
            <th>Última Manutenção</th>
            <th>Tipo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
            <tr class="text-light">
                <td>{{ object.descricao }}</td>
                <td>{{ object.data_instalacao }}</td>
                <td>{{ object.ultima_manutencao }}</td>
                <td>{{ object.get_tipo_display }}</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <a class="text-light" href="{% url update_url object.pk %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="text-light" href="{% url delete_url object.pk %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr class="text-light">
                <td colspan="5">Nenhum registro encontrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
